body{
    font-family: 'Roboto Slab', serif;
}

header{
    font-size: 20px;
    color: red;
    padding: 10px;
}

.container{
    border: 1px dashed black;
    border-radius: 10px;
    padding: 20px;
}

.container form{
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom right, rgb(151, 255, 246), rgb(162, 64, 241));
}

.container .container2{
    border: 1 px solid black;
    padding: 10px;
    margin-bottom: 20px;
    color: red;
}
