body, html{
    height: 100%;
    font-family: 'Roboto Slab', serif;
    background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(248, 248, 248));
    background-repeat: no-repeat;
}

header{
    font-size: 54px;
    font-family: 'Alfa Slab One', cursive;
    color: red;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(99, 195, 233), white);
    border-bottom: 5px solid skyblue;
    margin-bottom: 10px;
}

.container{
    padding: 30px;
    border: 1px dashed black;
    border-radius: 10px;
}

.container h2{
    text-align: center;
}

.container form{
    border: 1px solid black;
    border-radius: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

.container input{
    font-size: 18px;
    font-weight: 300px;
}

